<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card" style="border: 1px solid black;width: 200px;height: 250px;">
        <div class="id">{{productObj.id}}</div>
        <div class="title">{{productObj.title}}</div>
        <div class="price">{{productObj.price}}</div>
        <div class="quantity">{{productObj.quantity}}</div>
        <div class="like">{{productObj.like}}</div>
    </div>
</body>
</html>
