<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- your-component.component.html -->
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>J'aime</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of listProduct">
            <td>{{ product.id }}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.price | currency }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.like }}</td>
            <td><a class="btn btn-info">Add</a><a class="btn btn-danger">Delete</a></td>
          </tr>
    </tbody>
</table>

</body>
</html>
